:root {
  --very-dark-magenta: #502050;
  --soft-pink: #ee68a4;
  --dark-grayish-magenta: #937b92;
  --light-grayish-magenta: #f7f2f7;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  min-height: 100svh;
  font-family: "League Spartan", sans-serif;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  padding: 11.7rem 16.5rem 10rem;
  position: relative;
  overflow: hidden;
}

.wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url("./images/bg-pattern-top-desktop.svg");
  display: block;
}

.wrapper::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: url("./images/bg-pattern-bottom-desktop.svg");
  display: block;
}

@media screen and (max-width: 375px) {
  .wrapper {
    padding: 8.2rem 3.2rem 9.9rem;
  }

  .wrapper::before {
    content: url("./images/bg-pattern-top-mobile.svg");
  }

  .wrapper::after {
    content: url("./images/bg-pattern-bottom-mobile.svg");
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.2rem;
}

@media screen and (max-width: 375px) {
  .top {
    flex-direction: column;
    text-align: center;
    margin-bottom: 4.9rem;
  }
}

.details {
  flex: 0 0 44.5rem;
}

@media screen and (max-width: 375px) {
  .details {
    flex: 0 1 auto;
  }
}

.heading {
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 4.8rem;
  margin-bottom: 2.5rem;
  letter-spacing: -2px;
}

@media screen and (max-width: 375px) {
  .heading {
    font-size: 4rem;
    line-height: 3.2rem;
    margin-bottom: 1.7rem;
    letter-spacing: -1.6px;
  }
}

.text {
  color: var(--dark-grayish-magenta);
  padding-right: 4rem;
  line-height: 2.5rem;
  letter-spacing: -0.63px;
  font-size: 1.9rem;
}

@media screen and (max-width: 375px) {
  .text {
    padding-right: 0;
    margin-bottom: 3.9rem;
  }
}

.rating {
  margin-top: 2.7rem;
  flex: 0 0 54rem;
}

@media screen and (max-width: 375px) {
  .rating {
    flex: 0 1 auto;
    width: 100%;
    margin-top: 0;
  }
}

.review {
  background-color: var(--light-grayish-magenta);
  border-radius: 0.8rem;
  display: flex;
  gap: 3.24rem;
  padding: 2rem 3.2rem;
  max-width: 44.5rem;
}

@media screen and (max-width: 375px) {
  .review {
    flex-direction: column;
    padding: 1.5rem 0;
  }
}

.review:not(:last-of-type) {
  margin-bottom: 1.6rem;
}

.review-2 {
  margin-left: 5.8rem;
}

.review-3 {
  margin-left: 9.5rem;
}

@media screen and (max-width: 375px) {
  :is(.review-2, .review-3) {
    margin-left: 0;
  }
}

.category {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.6rem;
  color: var(--very-dark-magenta);
}
@media screen and (max-width: 375px) {
  .category {
    margin-top: -2.5rem;
  }
}

.cards {
  display: flex;
  align-items: flex-start;
  column-gap: 3rem;
  color: var(--white);
}

@media screen and (max-width: 375px) {
  .cards {
    flex-direction: column;
    row-gap: 1.6rem;
    column-gap: 0;
  }
}

:is(.card-1, .card-2, .card-3) {
  background-color: var(--very-dark-magenta);
  border-radius: 0.8rem;
  padding: 4rem 3.2rem 3.5rem;
}

.card-2 {
  margin-top: 1.8rem;
}

.card-3 {
  margin-top: 3.2rem;
}

@media screen and (max-width: 375px) {
  :is(.card-2, .card-3) {
    margin-top: 0;
  }
}

.author {
  display: flex;
  gap: 2.3rem;
  margin-bottom: 3.1rem;
}

:is(.author) img {
  width: 4rem;
  border-radius: 50%;
}

:is(.author-details) span {
  color: var(--soft-pink);
}

.review-text {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: -0.3px;
}
